<!DOCTYPE html>
<% provide(:title, "About") %>
  <h1> Contacto</h1>
  <p>Esta Web App fue creada por Uriel Sendyk (R)</p>
  <p>Contacto: <a href="mailto:uriel.sendyk@nespresso.com">Uriel Sendyk</a></p>
  
  <p>FORMULARIO DE CONTACTO</p>
<img src="" alt="">