<!DOCTYPE html>
<div class="center jumbotron">
  <h1>Capsulas de Empleados </h1>

  <h2>
    Este es la web de inicio de
    <a href="https://www.nespresso.com.ar/">Nespresso</a>
  
  </h2>
  <%= link_to "Nuevo Usuario", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Nuevo Pedido", "#", class: "btn btn-lg btn-primary" %>
  <%= link_to "Consultar / Modificar Pedido", "#", class: "btn btn-lg btn-primary" %>
</div>

<div class= logoness>
<%= link_to image_tag("nespresso logo.png", alt: "Nespresso"),
            'http://www.nespresso.com.ar/' %>
</div>