<!DOCTYPE html>
<% provide(:title, "Home") %>
  <h1>Bienvenido al sistema de Capsulas de Empleados</h1>

<a href="static_pages/pedidos">Ingrese su pedido</a>
<a href="static_pages/help">Ayuda</a>
<a href="">Info</a>

<img src="" alt="">
